:root{
    --cor-01:#FFFFFF;
    --cor-02: #EBECEE;
    --cor-azul-01:#002F52;
    --cor-azul-02:#326589;
    --fonte-01:'Poppins';
    --cor-laranja:#EB9B00;
    
    --degrade:background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);


}
.cadastro{
text-align: center;
padding: 1em 0 2em 0;
}

.cadastro__titulo{
font-family: var(--fonte-01);
font-size: 16px;
color: #002F52;
padding: 1em;


}

.cadastro__texto{
    font-family: var(--fonte-01);
    font-size: 16px;
    color: var(--cor-azul-01);
    
padding: 1em;
}

.cadastro__email{
    color: var(--cor-azul-01);
    background-color: transparent;
    border: 1px solid #002F52;

    border-radius: 24px;
    padding: 1em;
    width: 80%;

}


.cadastro__email::placeholder{
    text-align: center;
    color: var(--cor-azul-01);
    background-image: url("../imagens/Vector.png");
    background-repeat: no-repeat;
    background-position:2em;
    

}

.rodape{
padding: 1em;


}

.rodape__link{
text-decoration: none;
font-family: var(--fonte-01);
font-weight: 400;
font-size: 16px;
color: var(--cor-azul-01);}




@media screen and (min-width:1024px) {

.cadastro{
display: flex;
align-items: center;
justify-content: center;
gap: 80px;
}

.cadastro__conteudo{
width: 40%;
text-align: justify; 
}


.cadastro__email{
width: 30%;

}
    
}