:root{
    --cor-01:#FFFFFF;
    --cor-02: #EBECEE;
    --cor-azul-01:#002F52;
    --cor-azul-02:#326589;
    --fonte-01:'Poppins';
    --cor-laranja:#EB9B00;
}

.cabecalho__menu-hamburguer{
background-image: url("../imagens/Menu.png");
width: 48px;
height: 48px;
display: inline-block;


}

.container__botao:checked~.lista__menu{
display: block;



}
.container__botao{
display: none;



}



.lista__menu{
    position: absolute;
display:none;
top: 100%;
background-color: var(--cor-01);
color: cadetblue;
width:60vw;

font-family: var(--fonte-01);
font-weight: 400;
padding-left: 30px;
padding-top: 15px;
text-transform: uppercase;

}


.lista__titulo{
color:var(--cor-laranja);
font-weight: 700;
list-style: none;
padding: 1em;

}

.lista__item{
color: var(--cor-azul-01);
padding: 1em;
list-style: none;
}

.cabecalho__aviso__texto{
    background-color: var(--cor-01);
    padding: 0.5em;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    
    }