:root{
    --cor-01:#FFFFFF;
    --cor-02: #EBECEE;
    --cor-azul-01:#002F52;
    --cor-azul-02:#326589;
    --fonte-01:'Poppins';
    --cor-laranja:#EB9B00;
}

.container__botao{
display: none;

}




.container__botao:checked~.lista__menu {
display: block;

}



.cabecalho__menu-hamburguer{
background-image: url("../imagens/Menu.png");
width: 45px;
height: 45px;
display: inline-block;

}

.lista__menu{
display: none;
font-family: var(--fonte-01);
font-size: 16px;
font-weight: 400;
position: absolute;
top: 100%;
background-color: var(--cor-01);
padding-left: 1.5em;
list-style: none;
width: 60%;
text-transform: uppercase;

}

.lista__titulo{
    color: var(--cor-laranja);
font-weight: 700;
font-size: 18px;

}

.lista__item{
padding: 1em;

}
.lista__item__link{
text-decoration: none;
color: var(--cor-azul-01);

}
.lista__item__link:hover{
text-decoration: underline;

}


.cabecalho__aviso__texto{
    background-color: var(--cor-01);
    padding: 0.5em;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    
    }
