:root{
    --cor-01:#FFFFFF;
    --cor-02: #EBECEE;
    --cor-azul-01:#002F52;
    --cor-azul-02:#326589;
    --fonte-01:'Poppins';
    --cor-laranja:#EB9B00;
    --azul-degrade: background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);


}

.container__botao{
display: none;

}




.container__botao:checked~.lista__menu {
display: block;

}



.cabecalho__menu-hamburguer{
background-image: url("../imagens/Menu.png");
width: 45px;
height: 45px;
display: inline-block;

}

.container__botao:checked~.container__botao-azul>.cabecalho__menu-hamburguer{
background: url(/imagens/menu_black_24dp\ 1.png);


}

.container__botao:checked~.container__botao-azul{
    background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);

}

.lista__menu{
display: none;
font-family: var(--fonte-01);
font-size: 16px;
font-weight: 400;
position: absolute;
top: 100%;
background-color: var(--cor-01);
padding-left: 1.5em;
list-style: none;
width: 60%;
text-transform: uppercase;

}

.lista__titulo{
    color: var(--cor-laranja);
font-weight: 700;
font-size: 18px;

}

.lista__item{
padding: 1em;

}
.lista__item__link{
text-decoration: none;
color: var(--cor-azul-01);

}
.lista__item__link:hover{
text-decoration: underline;

}


.cabecalho__aviso__texto{
    background-color: var(--cor-01);
    padding: 0.5em;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    
    }

    .cabecalho__navegacao__titulo{
        font-family: var(--fonte-02);
        font-weight: 700;
        font-size: 30px;
        display: none;
        
        }
        .cabecalho__navegacao__titulo span{
        font-weight: 400;
        
        }

        .cabecalho__navegacao__link{
        
        display: none;
        
        }

.cabecalho__navegacao__parte02{
display: flex;



}

.opcoes{
display: none;

}

.texto__navegacao{
display: none;

}





   @media screen and (min-width:1024px){

  


    .cabecalho__navegacao__titulo{
    display: block;
    }

    .cabecalho__navegacao__parte02{

        padding-right: 1em;
    
    }


.cabecalho__menu-hamburguer{
display: none;

}

.opcoes__menu__item__link{
    display: block;
text-decoration: none;
color: black;
font-family: var(--fonte-01);
font-size: 16px;
font-weight: 400;
line-height: 24px;

}

.cabecalho__icone__favoritos{
display: none;

}



.opcoes{
display: block;
display: flex;
gap: 100px;

}

.opcoes__menu-botao{
    display: none;


}

.opcoes__menu-botao{
font-family: var(--fonte-01);
font-weight: 400;
font-size: 16px;
list-style: none;

}
.opcoes__menu-botao:checked~.lista__menu{
display: block;
width:auto;
}


.opcoes__menu-botao:checked~.categoria-azul>.opcoes__menu__item{
 background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);;
color: var(--cor-01);
}



.opcoes__menu__item{
list-style: none;
text-decoration: none;
color: black;
font-family: var(--fonte-01);
font-size: 16px;
font-weight: 400;
line-height: 24px;
}

.lista__item:hover{
    background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);

}

.lista__item__link:hover{

    color: var(--cor-01);

}

.lista__menu{
padding-left: 0px;

}



   }

   @media screen and (min-width:1440px){
    

.cabecalho__navegacao__parte02{

    padding-right: 1em;
    gap: 30px;
}
.cabecalho__navegacao__parte02__item{
display: flex;
align-items: center;


}

.texto__navegacao{
display: block;
font-family: var(--fonte-01);
font-weight: 400;
font-size: 18px;
text-decoration: none;
color:var(--cor-azul-01);
}


.cabecalho__conteudo{
display: none;

}
.opcoes{
    margin-right: auto;
    padding-left: 3em;



}
   }

   @media screen and (min-width:1728px){




    
   }